{% extends "base.html" %}
{% block content %}

<h2 class="section-title">Add Task</h2>

<div id="message-box"></div>

<form class="form-box" onsubmit="saveTask(event)">
    <label for="title" class="form-label">Title </label>
    <input type="text" id="title" class="input-box" placeholder="Enter task title">

    <label for="description" class="form-label">Description</label>
    <textarea id="description" class="input-box" rows="3" placeholder="Short description"></textarea>

    <label class="form-label">Category</label>
    <select id="category" class="input-box">
        <option value="">Uncategorized</option>
    </select>

    <div class="deadline-group">
        <label for="deadline" class="form-label" style="font-weight: bold; font-size: large;">Deadline (Date & Time)</label>
        <input type="datetime-local" id="deadline" class="input-box">
    </div>

    <label for="priority" class="form-label">Priority</label>
    <select id="priority" class="input-box">
        <option>High</option>
        <option selected>Medium</option>
        <option>Low</option>
    </select>

    <button class="btn btn-blue full-width" type="submit">Save Task</button>
</form>

{% endblock %}